<!-- Diary HTML -->
<div class="container" ng-controller="SearchController">
    <header class="main-header-diary">
        <div class="text-center">
            <br>
            <br>
            <div class="headerText">
                <h1>Barcode Search</h1>
            </div>
        </div>
    </header>
    <main class="diary-container col-md-12">
        <div class="container-fluid video">
            <div class="row">
                <div id="interactive" class="viewport col-sm-8 col-sm-offset-2">
                    <video autoplay="true" preload="auto" src=""></video>
                    <canvas class="drawingBuffer col-sm-6"></canvas>
                    <br clear="all">
                </div>
            </div>
        </div>
        <div>
            <label class="btn btn-success pull-left">
                <i class="fa fa-camera"></i> Upload image
                <input type="file" accept="capture=camera" capture="camera" class="hidden" />
            </label>
        </div>
    </main>
</div>
