<!-- Camera Search Page -->
<div class="container-fluid hidden">
    <form class="form">
        <div class="form-group">
            <label>Search</label>
            <input type="search" name="search" id="search">
            <button type="button" class="btn btn-default" id="submit">Search</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-6 search">
        <h3 class="text-center">Scan <span class="glyphicon glyphicon-barcode"></span></h3>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center enteredBarcode">Enter Barcode</h3>
    </div>
</div>

<div class="container-fluid video">
    <div class="row">
        <div id="interactive" class="viewport col-sm-6">
            <video autoplay="true" preload="auto" src=""></video>
            <canvas class="drawingBuffer col-sm-6"></canvas>
            <br clear="all">
        </div>
    </div>
</div>
<div class="col-sm-12 border-bottom results" ng-controller="SearchController">
    <div class=col-sm-4>
        <form class="form-horizontal" ng-submit="submitDiary()" name="diaryForm">
            <fieldset>
                <h3>{{item}}</h3>              
                <p class="lead">Calories - {{cals}}</p>
                
                <p class="lead">Carbs - {{carbs}}</p>
                
                <p class="lead">Fats - {{fats}}</p>
                
                <p class="lead">Protein - {{protein}}</p>
                
                <p class="lead">Serving size - {{serving}}</p>
                <label for="serving" class="control-label">Number of servings</label>
                <input type="number" class="form-control" ng-model="servingVal" ng-change="totalCals" id="serving">
                
                <p class="lead">Total Calories - {{totalCals()}}</p>
                <input type="hidden" name="calories" ng-model="calories" ng-value="{{totalCals()}}"/>
                <input type="hidden" name="cals" ng-model="cal" ng-value="{{totalCals()}}"/>
                
                
                <p class="lead">What meal is this for?</p>
                <select ng-model="selectedMeal" required>
                    <option ng-repeat="x in meal" value="{{x}}">{{x}}</option>
                </select>
                
                <br>
                </br>
                
                <input class="btn btn-primary" type="submit" value="Add Food"/>
            </fieldset>
        </form>
    </div>
</div>