<!-- Diary HTML -->
<div class="container" ng-controller="SearchController">
    <header class="main-header-diary">
        <div class="text-center">
            <br>
            <br>
            <h1>Barcode Search</h1>
        </div>
    </header>
    
    <main class="diary-container col-md-12">
        <div class="container-fluid video">
            <div class="row">
                <div id="interactive" class="viewport col-sm-8 col-sm-offset-2">
                    <video autoplay="true" preload="auto" src=""></video>
                    <canvas class="drawingBuffer col-sm-6"></canvas>
                    <br clear="all">
                </div>
            </div>
        </div>
    </main>
</div>
