<!--create_account.html-->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Create Account</h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createAccountForm">
                <fieldset>
                    <legend>Account Information</legend>
                    <div class="form-group">
                        <label for="inputName" class="col-lg-4 control-label">Name</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="name" ng-model="newUser.name" required placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUsername" class="col-lg-4 control-label">Username</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="username" ng-model="newUser.username" required placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" id="email" ng-model="newUser.email" required placeholder="Email">
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="col-lg-4 control-label">Sex</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="gender.male" value="male">Male
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="gender.female" value="female">Female
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="inputAge" class="col-lg-4 control-label">Age</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" id="age" ng-model="newUser.age" required placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge" class="col-lg-4 control-label">Height in cm</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" id="height" ng-model="newUser.height" required placeholder="183cm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge" class="col-lg-4 control-label">Weight in kg</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" id="weight" ng-model="newUser.weight" ng-change="calories" required placeholder="85kg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge" class="col-lg-4 control-label">Suggested Calorie intake</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" id="calories" ng-model="calories" ng-value="{{calories()}}" required placeholder="2000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="inputPassword" ng-model="newUser.password" required placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <input class="btn btn-primary" type="submit" ng-disabled="createAccountForm.$invalid" value="Create Account">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--/create_account.html-->
