<!-- Diary HTML -->
<div class="container" ng-controller="DiaryController">
    <header class="main-header-diary">
        <div class="text-center">
            <br>
            <br>
            <div class="headerText">
                <h1>Diary</h1>
            </div>
        </div>
    </header>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="lead text-center" ng-bind="date | date:'DD/MM/yyyy'">{{diary.date}}</h3>
        <h3 class="lead text-center">{{diary.calories}} - {{total}} = {{remaining}} cals remaining</h3>

        <uib-progressbar class="progress-striped active" max="diary.calories" value="total" ng-model="progress" type="success">
            <b><i>{{remaining}} remaining</i></b>
        </uib-progressbar>
    </div>

    <main class="diary-container col-md-10 col-md-offset-1">
        <div class="meal-container">
            <h3>Breakfast</h3>
            <div class="col-xs-12 food-container" ng-repeat="food in diary.breakfast" ng-click="foodInformation('breakfast', food.name)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food.name}}</p>
                            <p class="brand">{{food.brand}}</p>
                        </div>
                        <div class="social pull-right">
                            <p class="title lead"><b>{{food.calories}} cals</b></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row links">
                <div class="col-sm-6 col-xs-6">
                    <a href="#/account/textsearch" class="btn btn-success primary-green text-left" ng-click="mealSelected('breakfast')">Add Food</a>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <a href="" class="btn btn-primary pull-right" ng-click="quickAdd('breakfast')"><b>Quick Add Cals</b></a>
                </div>
            </div>
        </div>

        <div class="meal-container">
            <h3>Lunch</h3>
            <div class="col-xs-12 food-container" ng-repeat="food in diary.lunch" ng-click="foodInformation('lunch', food.name)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food.name}}</p>
                            <p class="brand">{{food.brand}}</p>
                        </div>
                        <div class="social pull-right">
                            <p class="title lead"><b>{{food.calories}} cals</b></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row links">
                <div class="col-sm-6 col-xs-6">
                    <a href="#/account/textsearch" class="btn btn-success primary-green text-left" ng-click="mealSelected('lunch')">Add Food</a>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <a href="" class="btn btn-primary pull-right" ng-click="quickAdd('lunch')"><b>Quick Add Cals</b></a>
                </div>
            </div>
        </div>

        <div class="meal-container">
            <h3>Dinner</h3>
            <div class="col-xs-12 food-container" ng-repeat="food in diary.dinner" ng-click="foodInformation('dinner', food.name)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food.name}}</p>
                            <p class="brand">{{food.brand}}</p>
                        </div>
                        <div class="social pull-right">
                            <p class="title lead"><b>{{food.calories}} cals</b></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row links">
                <div class="col-sm-6 col-xs-6">
                    <a href="#/account/textsearch" class="btn btn-success primary-green text-left" ng-click="mealSelected('dinner')">Add Food</a>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <a href="" class="btn btn-primary pull-right" ng-click="quickAdd('dinner')"><b>Quick Add Cals</b></a>
                </div>
            </div>
        </div>

        <div class="meal-container">
            <h3>Snacks</h3>
            <div class="col-xs-12 food-container" ng-repeat="food in diary.snacks" ng-click="foodInformation('snacks', food.name)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food.name}}</p>
                            <p class="brand">{{food.brand}}</p>
                        </div>
                        <div class="social pull-right">
                            <p class="title lead"><b>{{food.calories}} cals</b></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row links">
                <div class="col-sm-6 col-xs-6">
                    <a href="#/account/textsearch" class="btn btn-success text-left" ng-click="mealSelected('snacks')">Add Food</a>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <a href="" class="btn btn-primary pull-right" ng-click="quickAdd('snacks')"><b>Quick Add Cals</b></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </main>

</div>
