<!-- Diary HTML -->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Diary</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" ng-controller="DiaryController">
            <h3 class="lead text-center">{{diary.date}}</h3>
            <h3>Breakfast</h3>
            <div ng-repeat="breakfast in diary.breakfast">
                <p class="col-sm-6 lead">{{breakfast.name}}</p>
                <p class="col-sm-6 text-center lead">{{breakfast.calories}}</p>
            </div>
            <h3>Lunch</h3>
            <div ng-repeat="lunch in diary.lunch">
                <p class="col-sm-6 lead">{{lunch.name}}</p>
                <p class="col-sm-6 text-center lead">{{lunch.calories}}</p>
            </div>
            <h3>Dinner</h3>
            <div ng-repeat="dinner in diary.dinner">
                <p class="col-sm-6 lead">{{dinner.name}}</p>
                <p class="col-sm-6 text-center lead">{{dinner.calories}}</p>
            </div>
            <h3>Snacks</h3>
            <div ng-repeat="snacks in diary.snacks">
                <p class="col-sm-6 lead">{{snacks.name}}</p>
                <p class="col-sm-6 text-center lead">{{snacks.calories}}</p>
            </div>
        </div>
    </div>
</div>