<!-- Diary HTML -->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Diary</h1>
    </div>
</div>

<div class="container" ng-controller="DiaryController">
    <div ng-show="diary">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="lead text-center" ng-bind="date | date:'DD/MM/yyyy'">{{diary.date}}</h3>
            <h3 class="lead text-center">{{diary.calories}} - {{total}} = {{remaining}} cals remaining</h3>
            <div>
                <h3>Breakfast</h3>
                <div ng-repeat="food in diary.breakfast">
                    <div class="foodHolder row" ng-click="foodInfo('breakfast', food.name)">
                        <p class="col-md-6 lead">{{food.name}}</p>
                        <p class="col-md-6 text-center lead">{{food.calories}} cals</p>
                    </div>
                </div>
                <a href="#/account/textsearch">Add Food</a>
            </div>
            <div>
                <h3>Lunch</h3>
                <div ng-repeat="food in diary.lunch">
                    <div class="foodHolder row" ng-click="foodInfo('lunch', food.name)">
                        <p class="col-md-6 lead">{{food.name}}</p>
                        <p class="col-md-6 text-center lead">{{food.calories}} cals</p>
                    </div>
                </div>
                <a href="#/account/textsearch">Add Food</a>
            </div>
            <div>
                <div class="row">
                    <h3 class="col-md-6">Dinner</h3>
                    <h3 class="col-md-6 text-center">{{}}</h3>
                </div>
                <div ng-repeat="food in diary.dinner" class="row">
                    <div class="foodHolder row" ng-click="foodInfo('dinner', food.name)">
                        <p class="col-md-6 lead">{{food.name}}</p>
                        <p class="col-md-6 text-center lead">{{food.calories}} cals</p>
                    </div>
                </div>
                <a href="#/account/textsearch">Add Food</a>
            </div>
            <div>
                <h3>Snacks</h3>
                <div ng-repeat="food in diary.snacks">
                    <div class="foodHolder row" ng-click="foodInfo('snacks', food.name)">
                        <p class="col-md-6 lead">{{food.name}}</p>
                        <p class="col-md-6 text-center lead">{{food.calories}} cals</p>
                    </div>
                </div>
                <a href="#/account/textsearch">Add Food</a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="foodContent">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" name="diaryForm">
                <fieldset>
                    <h3>{{item}}</h3>
                    <p class="lead">Calories - {{cals}}</p>

                    <p class="lead">Carbs - {{carbs}}</p>

                    <p class="lead">Fats - {{fats}}</p>

                    <p class="lead">Protein - {{protein}}</p>

                    <p class="lead">Serving size - {{serving}}</p>
                    <label for="serving" class="control-label">How many g's/ml's did you have?</label>
                    <input type="number" class="form-control" ng-model="serving" ng-change="totalCals" id="serving">
 
                    <p class="lead">Total Calories - {{totalCals()}}</p>
                    <input type="hidden" name="calories" ng-model="calories" ng-value="{{totalCals()}}" />

                    <input ng-click="updateFood(meal, item, serving, totalCals, carbs, fats, protein)" class="btn btn-success" value="Update Food" />
                    <input ng-click="removeFood(meal, item)" class="btn btn-danger" value="Remove Food" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
