<header class="header">
    <form ng-submit="submitLogin()">
        <nav class="navbar navigation">
            <div class="pull-right" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="login" ng-show="login"><input type="text" class="form-control" ng-model="loginForm.username" placeholder="Username"></li>
                    <li class="login" ng-show="login"><input type="password" class="form-control" ng-model="loginForm.password" placeholder="Password"></li>
                    <li ng-show="login"><button class="btn btn-default lead" type="submit">Login</button></li>
                    <li ng-show="login"><a class="btn btn-default" href="#/account/create">Sign up</a></li>

                    <li ng-show="loginPage"><a class="btn btn-default" href="#/account/login">Login</a></li>
                    <li ng-show="loginPage"><a class="btn btn-default" href="#/account/create">Sign up</a></li>
                </ul>
            </div>
        </nav>
    </form>
    <div class="text-center">
        <br>
        <br>
        <br>
        <div class="headerText">
            <h1>Count My Calories</h1>
            <p class="lead">Track your calories the easy way.</p>
            <p class="lead">Quickly add all your meals in a matter of seconds. Simple, fast, reliable.</p>
        </div>
        <br>
        <a class="btn btn-success" href="#/account/create">Get Started</a>
    </div>
</header>
<main>
    <div class="container">
        <h2 class="text-center">What is Count My Calories?</h2>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <h3>Easy read diary</h3>
                <span class="glyphicon glyphicon-dashboard gi-6x"></span>
                <p>A clean minimal diary for ease of use.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <h3>Search for thousands of foods</h3>
                <span class="glyphicon glyphicon-search gi-6x"></span>
                <p>With a database full of foods, you'll be able to find everything your looking for.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <h3>Quickly add items</h3>
                <span class="glyphicon glyphicon-plus gi-6x"></span>
                <p>Simple easy use search engine allows you to find and add items in seconds.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <h3>View your progress</h3>
                <span class="glyphicon glyphicon-stats gi-6x"></span>
                <p>Track your progress, to allow you to see where you have been going wrong.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="col-md-6">
            <br>
            <div class="text-center">
                <h3>Why use Count My Calories?</h3>
                <br>
                <br>
                <p>Count My Calories was created to help you begin your diet journey as losing weight can be tough so we aim to make counting calories as simple as possible. Simple sign up and be given your own personal calorie goal that suits who you are.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../assets/img/graph.png" class="center-block img-responsive">
        </div>
    </div>
</main>
