<header class="header">
    <nav class="navbar">
        <div class="pull-right" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/account/login" class="lead">Login</a></li>
                <li><a href="#/account/create" class="lead">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="text-center">
        <br>
        <br>
        <br>
        <h1>Count My Calories</h1>
        <p class="lead">Track your calories the easy way.</p>
        <p class="lead">Quickly add all your meals in a matter of seconds. Simple, fast, reliable.</p>
        <br>
        <a class="btn btn-success btn-md" href="#">Get Started</a>
    </div>
</header>
<main>
    <div class="container">
        <div class="col-md-3">
            <div class="text-center">
                <h3>Easy read diary</h3>
                <img src="https://d0.awsstatic.com/Image_Thumbs/graph_icon.png" class="center-block img-responsive">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3>Search for thousands of foods</h3>
                <img src="https://d0.awsstatic.com/Image_Thumbs/graph_icon.png" class="center-block img-responsive">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3>Quickly add items</h3>
                <img src="https://d0.awsstatic.com/Image_Thumbs/graph_icon.png" class="center-block img-responsive">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3>View your progress</h3>
                <img src="https://d0.awsstatic.com/Image_Thumbs/graph_icon.png" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="col-md-6">
            <div class="text-center">
                <h3>Easy read diary</h3>
                <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://d0.awsstatic.com/Image_Thumbs/graph_icon.png" class="center-block img-responsive">
        </div>
    </div>
    <hr>
</main>
