<!-- Text Search Page -->
<div ng-controller="TextSearchController">

    <div class="row">
        <form class="form-horizontal" novalidate ng-submit="" name="foodSearch">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-md-4 control-label">Food Search</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="search" ng-model="search" ng-change="foodTextSearch(search)" ng-model-options="{debounce: 1000}" placeholder="Search">
                    </div>
                    <div class="col-md-4">
                        <a href="#/account/search">Barcode scan: <span class="glyphicon glyphicon-barcode"></span></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 results" ng-repeat="food in results">
            <p class="lead" ng-click="addFood(food)">{{food.product_name}}</p>
        </div>
    </div>
    
</div>