<!-- Text Search Page -->
<div ng-controller="TextSearchController">
    <br>
    <div class="row">
        <form class="form-horizontal" novalidate ng-submit="" name="foodSearch">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-md-4 control-label">Food Search</label>
                    <div class="col-md-4">
                        <!--   Using debounce runs the function after a change has been made   -->
                        <input type="text" class="form-control" id="search" ng-click="active = 2" ng-model="search" ng-change="foodTextSearch(search)" ng-model-options="{debounce: 1000}" placeholder="Search">
                    </div>
                    <div class="col-md-4">
                        <a href="#/account/search">Barcode scan: <span class="glyphicon glyphicon-barcode"></span></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <uib-tabset active="active" class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <uib-tab index="0" heading="Most Popular">
            <div class="col-xs-12 food-container" ng-repeat="food in popular" ng-click="foodInformation(food)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food._id}}</p>
                            <p class="desc">{{food[meal].brand}}</p>
                        </div>
                        <div class="social">
                            <p class="title lead">{{food[meal].calories}}cals</p>
                        </div>
                    </li>
                </ul>
            </div>
        </uib-tab>
        <uib-tab index="$index + 1" heading="Custom Meals">
            <div ng-repeat="meal in keys">
                <p class="lead" ng-click="addCustom(customMeals[$index],meal[0])">{{meal[0]}}</p>
            </div>
        </uib-tab>
        <uib-tab index="$index + 2" heading="Search Results" class="">
            <div class="col-xs-12 food-container" ng-repeat="food in results" ng-click="foodInformation(food)">
                <ul class="diary-list">
                    <li>
                        <img alt="{{food.brand}}" class="pull-left" ng-src="{{food.image_front_small_url || 'https://media.giphy.com/media/14uQ3cOFteDaU/giphy.gif' }}" />
                        <div class="info">
                            <p class="title lead">{{food.product_name}}</p>
                            <p class="desc">{{food.brands}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
