/* Video for barcode settings */

.model-item {
    padding-bottom: 5px;
}

#name-field {
    margin-top: 80px;
}

#interactive.viewport {
    position: relative;
}

#interactive.viewport>canvas,
#interactive.viewport>video {
    max-width: 100%;
    width: 100%;
}

canvas.drawing,
canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica;
    font-weight: 100;
}
h2{
    font-weight: 200;
}
input{
    z-index: 100;
}
.navigation{
    background-color: #3f51b5;
    height: 50px;
    border-radius: 0;
    opacity: 0.9;
}
.navigation .btn{
    color: #3f51b5;
    background-color: #ffffff;
    padding: 5px 5px;
    margin: 7.5px;
}
.login{
    padding: 8px 2.5px 0 2.5px;
}
.login input{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}
.headerText{
    text-shadow: 0px 0px 3px #000;
}
.navbar-right {
    margin-right: 0;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.container.open-sidebar {
    left: 240px;
}

.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
}

#sidebar {
    background: #3f51b5;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin: 0;
}

#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
    background: #303f9f;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    z-index: -50;
}

.main-content .content h1 {
    font-weight: 100;
}

.main-content #sidebar-toggle {
    background: #3f51b5;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    margin: 10px;
    float: left;
    z-index: 10;
}

.main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
}

.added{
    color: #4caf50;
}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-6x{font-size: 6em;}
/* diary styles */
.btn-primary{
    background-color: #3f51b5;
}
.btn-success{
    background-color: #4caf50;
}
.swipe-area {
    background: #fff;
}

.lead {
    margin-bottom: 5px;
}

.header {
    height: 450px;
    background: url('../img/background1.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main-header-search {
    height: 250px;
    background: url('../img/background7.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.main-header-diary {
    height: 250px;
    background: url('../img/background.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.main-header-progress {
    height: 275px;
    background: url('../img/background3.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.main-header-custom {
    height: 250px;
    background: url('../img/background5.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.main-header-account {
    height: 250px;
    background: url('../img/background6.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

header h1, header h2{
    color: #ffffff;
}
header p{
    color: #ffffff;
}
.form-horizontal .control-label{
    text-align: left;
}
.progress-bar{
    background-color: #3f51bf;
}
.col-xs-12{
    padding: 0;
}
.food-container{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.food-container:hover{
    transform: scale(1.02);
}
.links{
    padding-right: 15px;
    padding-left: 15px;
}

.food-container{
    z-index: 100;
}

.diary-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.diary-list>li {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    height: 150px;
}

.diary-list>li:hover {
    box-shadow: 0px 0px 10px rgb(33, 33, 34);
}

.diary-list>li>{
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}

.diary-list>li>.info, .diary-list>li>.social{
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    margin-top: -30px;
    margin-right: 35px;
}
.diary-list>li>.info>.title{
    padding: 30px 5px 0 5px;
}
.diary-list>li>.info>ul>li>a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
    display: inline;
}
.diary-list>li>.info>.brand{
    padding: 0 0 0 5px;
}
.diary-list>li>img {
    width:150px;
    height:150px;
    overflow:hidden;
    object-fit: cover;
    margin-right: 5px;
}
.diary-list>li>.info>ul>li:hover{
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
#search{
    z-index: 1000;
}
.navbar-nav.navbar-right:last-child {
    margin: 0;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right!important;
}
.customMeal{
    height: 50px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.customMeal p{
    padding-top: 10px;
    cursor: pointer;
}
.customMeal:hover {
    box-shadow: 0px 0px 10px rgb(33, 33, 34);
    transform: scale(1.02);
}
#loader{
    z-index: 100;
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}