.food-container{
    z-index: 100;
}

.diary-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.diary-list>li {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    height: 150px;
}

.diary-list>li:hover {
    box-shadow: 0px 0px 10px rgb(33, 33, 34);
}

.diary-list>li>{
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}

.diary-list>li>.info, .diary-list>li>.social{
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    margin-top: -30px;
    margin-right: 35px;
}
.diary-list>li>.info>.title{
    padding: 30px 5px 0 5px;
}
.diary-list>li>.info>ul>li>a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
    display: inline;
}
.diary-list>li>.info>.brand{
    padding: 0 0 0 5px;
}
.diary-list>li>img {
    width:150px;
    height:150px;
    overflow:hidden;
    object-fit: cover;
    margin-right: 5px;
}
.diary-list>li>.info>ul>li:hover{
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.food-container{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.food-container:hover{
    transform: scale(1.02);
}
.col-xs-12{
    padding: 0;
}.progress-bar{
    background-color: #3f51bf;
}
.lead {
    margin-bottom: 5px;
}